.App {
    text-align: center;
  }

.bg{
  background-color: #c3cbdc;
  background-image: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
}

  .center{
    display: flex;
    justify-content: center;
  }